body {
  font-family: Arial;
  background: #eef2ff;
  padding: 20px;
}

h2 {
  text-align: center;
  color: #002b5c;
}

form {
  background: white;
  max-width: 420px;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

button {
  background: #002b5c;
  color: white;
  border: none;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  background: white;
}

th, td {
  padding: 10px;
  text-align: center;
}
